
<p id="notice"><%= notice %></p>


<p>
  <strong>Nickname:</strong>
  <%= @post.nickname %>
</p>

<p>
  <strong>Age:</strong>
  <%= @post.age %>
</p>

<% if @post.avatar? %>  <!-- アップロード画像がある場合に実行する -->
  <p>
    <strong>Avatar:</strong>
    <%= image_tag @post.avatar.url %><!-- userインスタンスの画像ファイルのURLを取得し表示 -->
  </p>
<% end %>
<%= link_to '編集', edit_post_path(@post) %> |
<%= link_to '戻る', posts_path %>

